/* 	vars  */
#header .header-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0; }

::-moz-selection {
  color: yellow;
  background-color: yellowgreen; }

::selection {
  color: yellow;
  background-color: yellowgreen; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  outline: none;
  color: #0f0f0f; }

a:visited {
  color: #0f0f0f; }

html, body {
  background: transparent;
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  min-height: 320px; }

p {
  font-weight: normal;
  font-size: medium; }

/* 	Employer Portfolio START  */
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500; }
  #page-preloader .spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

#employers {
  width: 100%;
  max-width: 960px;
  min-width: 430px;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#f85032), to(#27c0e6));
  background: -webkit-linear-gradient(top, #f85032 0%, #27c0e6 100%);
  background: -o-linear-gradient(top, #f85032 0%, #27c0e6 100%);
  background: linear-gradient(to bottom, #f85032 0%, #27c0e6 100%);
  background-color: #fff; }
  #employers .parent {
    position: relative;
    width: 50%;
    margin: auto; }
  #employers .child {
    background: none;
    padding: 0; }
    #employers .child.both {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #employers .child.horizontal {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
    #employers .child.vertical {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%); }

.employer-portfolio ul,
.employer-portfolio li {
  margin: 10px;
  padding: 0px;
  list-style-type: none; }

.employer-portfolio ul li {
  position: relative;
  display: inline-block;
  width: 300px;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.5); }

.employer-portfolio-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%; }

.employer-portfolio-item > .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  overflow: auto;
  color: white;
  text-align: center;
  overflow: hidden;
  opacity: 0; }

.employer-portfolio-item > .overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#47d132), to(#27c0e6));
  background: -webkit-linear-gradient(top, #47d132 0%, #27c0e6 100%);
  background: -o-linear-gradient(top, #47d132 0%, #27c0e6 100%);
  background: linear-gradient(to bottom, #47d132 0%, #27c0e6 100%);
  opacity: 0;
  -webkit-transform: scale(0, 0) rotate(45deg);
      -ms-transform: scale(0, 0) rotate(45deg);
          transform: scale(0, 0) rotate(45deg);
  overflow: hidden; }

.employer-portfolio-item > .img {
  width: 100%;
  position: relative;
  opacity: 1; }

.employer-portfolio-item img {
  width: 100%;
  opacity: 1; }

.employer-portfolio-item:hover {
  cursor: pointer; }

.employer-portfolio-item:hover .desc {
  opacity: 1; }

.employer-portfolio-item:hover .img {
  opacity: 1; }

.employer-portfolio-item:hover img {
  opacity: 1; }

.employer-portfolio-item:hover .overley {
  -webkit-transform: scale(1, 1) rotate(0deg);
      -ms-transform: scale(1, 1) rotate(0deg);
          transform: scale(1, 1) rotate(0deg);
  opacity: 0.5; }

#sidebar {
  display: none;
  width: 100%;
  font-size: 50px;
  padding-top: 10%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 209, 50, 0.5)), to(rgba(39, 192, 230, 0.5)));
  background: -webkit-linear-gradient(top, rgba(71, 209, 50, 0.5) 0%, rgba(39, 192, 230, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(71, 209, 50, 0.5) 0%, rgba(39, 192, 230, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(71, 209, 50, 0.5) 0%, rgba(39, 192, 230, 0.5) 100%);
  color: #fff;
  background-color: white; }
  #sidebar a {
    background-color: transparent;
    color: #ff9d00; }
  #sidebar .w3-button {
    background-color: transparent;
    color: #ff9d00; }
    #sidebar .w3-button:hover {
      background-color: transparent;
      color: #ff9d00; }

#nav {
  overflow: hidden;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }
  #nav figure {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    min-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #nav figure a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #nav figure a img.logo {
        height: 50px; }
    #nav figure figcaption {
      text-align: center;
      margin-left: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #nav figure figcaption h4 {
        text-transform: uppercase;
        font-weight: bold; }
  #nav menu {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-weight: bold; }
    #nav menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-align-content: stretch;
          -ms-flex-line-pack: stretch;
              align-content: stretch; }
      #nav menu ul li {
        margin: 10px 10px;
        padding: 10px 15px;
        cursor: pointer;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        min-width: 10%;
        text-align: center;
        -webkit-transition: .3s ease , background .3s, color .3s;
        -o-transition: .3s ease , background .3s, color .3s;
        transition: .3s ease , background .3s, color .3s;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 209, 50, 0)), to(rgba(39, 192, 230, 0)));
        background: -webkit-linear-gradient(top, rgba(71, 209, 50, 0) 0%, rgba(39, 192, 230, 0) 100%);
        background: -o-linear-gradient(top, rgba(71, 209, 50, 0) 0%, rgba(39, 192, 230, 0) 100%);
        background: linear-gradient(to bottom, rgba(71, 209, 50, 0) 0%, rgba(39, 192, 230, 0) 100%); }
        #nav menu ul li:hover {
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 209, 50, 0.5)), to(rgba(39, 192, 230, 0.5)));
          background: -webkit-linear-gradient(top, rgba(71, 209, 50, 0.5) 0%, rgba(39, 192, 230, 0.5) 100%);
          background: -o-linear-gradient(top, rgba(71, 209, 50, 0.5) 0%, rgba(39, 192, 230, 0.5) 100%);
          background: linear-gradient(to bottom, rgba(71, 209, 50, 0.5) 0%, rgba(39, 192, 230, 0.5) 100%);
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          -webkit-box-shadow: 0px 15px 20px #9AA88B;
                  box-shadow: 0px 15px 20px #9AA88B; }
        #nav menu ul li:hover a {
          color: white; }
        #nav menu ul li a::before {
          content: "{ "; }
        #nav menu ul li a::after {
          content: " }"; }

#header * {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

#header {
  -webkit-box-shadow: 0px 5px 20px rgba(2, 45, 0, 0.5);
          box-shadow: 0px 5px 20px rgba(2, 45, 0, 0.5);
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  min-height: 450px;
  padding: 0; }
  #header .overley {
    position: absolute;
    display: block;
    width: 100%;
    height: inherit;
    min-height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25, 50, 50, 0.5);
    z-index: 0; }
  #header .header-content {
    height: inherit;
    min-height: inherit;
    width: inherit;
    z-index: 1; }
    #header .header-content .flex-conteiner {
      height: inherit;
      min-height: inherit;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: inherit;
      overflow: hidden; }
      #header .header-content .flex-conteiner .flex-item {
        padding-bottom: 10px;
        text-align: center; }
        #header .header-content .flex-conteiner .flex-item .img {
          width: 250px;
          max-height: 300px;
          height: 250px;
          background-image: url(../img/logo_budinok_prirodi.png);
          background-repeat: no-repeat;
          -webkit-background-size: contain;
                  background-size: contain;
          background-position: center; }
        #header .header-content .flex-conteiner .flex-item h4 {
          color: #f0f0f0; }
        #header .header-content .flex-conteiner .flex-item h1 {
          color: #f0f0f0; }

#history {
  width: 100%;
  -webkit-box-shadow: 0px 5px 20px rgba(2, 45, 0, 0.5);
          box-shadow: 0px 5px 20px rgba(2, 45, 0, 0.5);
  z-index: 0;
  padding-left: 10%;
  padding-right: 10%;
  background: -webkit-gradient(linear, left top, left bottom, from(#47d132), to(#27c0e6));
  background: -webkit-linear-gradient(top, #47d132 0%, #27c0e6 100%);
  background: -o-linear-gradient(top, #47d132 0%, #27c0e6 100%);
  background: linear-gradient(to bottom, #47d132 0%, #27c0e6 100%);
  border-width: 25px 25px 25px 25px;
  border-color: #0f0f0f;
  border-style: solid; }
  #history .history-header {
    padding-top: 30px;
    text-align: center; }
  #history .history-content {
    padding: 30px 0px;
    -moz-text-align-last: left;
         text-align-last: left;
    text-align: justify; }
    #history .history-content p {
      padding-bottom: 20px; }
      #history .history-content p:first-letter {
        font-weight: bold;
        font-size: 1.5em; }
      #history .history-content p:before {
        margin-right: 30px;
        content: ""; }
    #history .history-content ol {
      padding-left: 30px;
      padding-bottom: 30px;
      counter-reset: item; }
      #history .history-content ol li {
        padding-left: 20px;
        list-style-type: none;
        counter-increment: item; }
        #history .history-content ol li:before {
          text-align: right;
          font-weight: bold;
          content: counter(item) ")";
          padding-right: 10px; }
        #history .history-content ol li:first-letter {
          font-weight: bold; }

#gramoti {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8e8e8; }
  #gramoti .gramoti-header {
    width: 80%;
    height: 0px;
    text-align: center;
    text-transform: uppercase; }
  #gramoti .gramoti-content {
    width: 100%;
    height: auto; }
  #gramoti .owl-item {
    height: auto; }
    #gramoti .owl-item img {
      width: auto;
      display: block;
      padding: 0px;
      margin: 0 auto;
      border: 10px solid white; }
  #gramoti .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
  #gramoti .owl-next, #gramoti .owl-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.3); }
  #gramoti .owl-prev {
    float: left; }
  #gramoti .owl-next {
    float: right; }

#news {
  width: 100%;
  height: 100vh; }

#shows {
  width: 100%;
  height: auto;
  background: orange; }

#events {
  width: 100%;
  height: 100vh; }

#compititions {
  width: 100%;
  height: 100vh;
  background: yellowgreen; }

#published {
  width: 100%;
  height: 100vh; }

#footer {
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#47d132), to(#27c0e6));
  background: -webkit-linear-gradient(top, #47d132 0%, #27c0e6 100%);
  background: -o-linear-gradient(top, #47d132 0%, #27c0e6 100%);
  background: linear-gradient(to bottom, #47d132 0%, #27c0e6 100%);
  color: #f0f0f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #0f0f0f; }
  #footer .adress {
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px; }
    #footer .adress .adress-content {
      text-align: center; }
  #footer .flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    #footer .flex-row .v-line {
      width: 1px; }
    #footer .flex-row .get-to {
      -webkit-flex-basis: 30%;
          -ms-flex-preferred-size: 30%;
              flex-basis: 30%;
      padding: 50px 10px;
      min-width: 320px; }
      #footer .flex-row .get-to .get-to-header {
        text-align: center;
        padding-bottom: 10px; }
        #footer .flex-row .get-to .get-to-header h3 {
          font-size: 18px;
          font-style: italic; }
      #footer .flex-row .get-to .get-to-content {
        text-align: center;
        font-size: 14px; }
    #footer .flex-row .contact {
      -webkit-flex-basis: 30%;
          -ms-flex-preferred-size: 30%;
              flex-basis: 30%;
      padding: 50px 10px;
      min-width: 320px; }
      #footer .flex-row .contact .contact-header {
        text-align: center;
        padding-bottom: 10px; }
        #footer .flex-row .contact .contact-header h3 {
          font-size: 18px;
          font-style: italic; }
      #footer .flex-row .contact .contact-content {
        text-align: center;
        font-size: 14px; }
    #footer .flex-row .reception {
      -webkit-flex-basis: 30%;
          -ms-flex-preferred-size: 30%;
              flex-basis: 30%;
      padding: 50px 10px;
      min-width: 320px; }
      #footer .flex-row .reception .reception-header {
        text-align: center;
        padding-bottom: 10px; }
        #footer .flex-row .reception .reception-header h3 {
          font-size: 18px;
          font-style: italic; }
      #footer .flex-row .reception .reception-content {
        text-align: center;
        font-size: 14px; }
  #footer .map {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    color: #0f0f0f;
    min-height: 300px; }
    #footer .map .map-header {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      overflow: hidden; }
      #footer .map .map-header .center {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 200; }
      #footer .map .map-header .overley {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #005bbc), color-stop(49.99%, #005bbc), color-stop(50%, #ffd500), to(#ffd500));
        background: -webkit-linear-gradient(top, #005bbc 0%, #005bbc 49.99%, #ffd500 50%, #ffd500 100%);
        background: -o-linear-gradient(top, #005bbc 0%, #005bbc 49.99%, #ffd500 50%, #ffd500 100%);
        background: linear-gradient(top, #005bbc 0%, #005bbc 49.99%, #ffd500 50%, #ffd500 100%); }
    #footer .map .map-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      height: 100%;
      width: 100%; }
      #footer .map .map-content #map1 {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: transparent; }
        #footer .map .map-content #map1 iframe {
          width: 100%;
          height: 100%;
          margin: 0px;
          padding: 0px; }
  #footer .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0f0f0f; }
    #footer .copyright .copyright-content {
      text-align: center;
      font-size: 14px; }

#copyright p {
  margin: 0px;
  padding: 0px; }

.btn-top {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  color: #0f0f0f;
  background: #47d132;
  opacity: .6;
  cursor: pointer;
  padding: 15px 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 100000;
  text-align: center;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out; }
  .btn-top i {
    position: absolute;
    top: 17px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  .btn-top:hover {
    color: #f0f0f0;
    background: #ff9d00;
    font-size: 2em; }
    .btn-top:hover i {
      position: absolute;
      top: 6px;
      bottom: 0px;
      left: 0px;
      right: 0px; }

/* Animation */
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.zoomOut {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn; }

@-webkit-keyframes opacityOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes opacityOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.opacityOut {
  -webkit-animation-name: opacityOut;
          animation-name: opacityOut; }

@-webkit-keyframes opacityIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacityIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.opacityIn {
  -webkit-animation-name: opacityIn;
          animation-name: opacityIn; }
