// START EMPLOYERS
section#employers
	.container
		h1.text-shadow У Київському міському Будинку природи працюють:
		.employer-portfolio
			ul
				li
					.employer-portfolio-item.parent
						.img
							img(src='img/ava.png' alt='Директор-Иванович')
						.overley
						.desc.child.both
							h4 Иванов Иван Иванович.
							| Директор
				li
					.employer-portfolio-item.parent
						.img
							img(src='img/ava.png' alt='Юміна-ровідний фахівець')
						.overley
						.desc.child.both
							h4 Юміна Ірина Володимирівна.
							| Провідний фахівець із зв`язків з громадськістю та пресою
// END EMPLOYERS
