// START HEADER
section#header
    .overley
    .header-content
        .flex-conteiner
            .flex-item
                img.logo(src='img/logo_budinok_prirodi.png', alt='logo')
            .flex-item
                h4 КОМУНАЛЬНЕ ПІДПРИЄМСТВО
            .flex-item
                h1 "КИЇВСЬКИЙ МІСЬКИЙ БУДИНОК ПРИРОДИ"
// END HEADER