doctype html
html(lang='ru')
    include head
    body
        include preloader
        include nav
        include header
        include history
        include employers
        include gramoti
        include news
        include contacts
        include scripts
