doctype html
html(
    lang='uk'
)
    include head
    body
        include preloader
        include nav
        include header
        include history
        include workers
        include gramoti
        include news
        include shows
        include events
        include compititions
        include published
        include footer
        include btn-go-to-top

        include scripts
