doctype html
html(lang='ru')
    include head
    body
        include preloader
        include nav
        include header
        include history
        include employers
        include gramoti
        include news
        include shows
        include events
        include compititions
        include published
        include footer

        include scripts
