//START NAV
nav#nav
	figure
		a
			img(class='logo', src='img/logo_budinok_prirodi.png' alt='Київський Міський Будинок Природи')
		figcaption
			h4 КП "Київський міський Будинок природи"
	menu
		ul
			li: a(href='$history') Історія
			li: a(href="$employers") Колектив
			li: a(href="#news") Новини
			li: a(href="#shows") Виставки
			li: a(href="#events") Події та заходи
			li: a(href="#compititions") Конкурси
			li: a(href="#published") Наші видання
			li: a(href="#contacts") Контакти
//END NAV