// START SCRIPTS
script(src='libs/jquery/dist/jquery.min.js', type='text/javascript')
script(src="js/SmoothScroll.js", type="text/javascript")
script(src="libs/jquery-sticky/jquery.sticky.js" type="text/javascript")
script(src="js/sticky.js", type="text/javascript")
script(src='libs/owl.carousel/dist/owl.carousel.min.js', type='text/javascript')
script(src='js/owl.js', type='text/javascript')
script(src='js/custom.js', type='text/javascript')
script(src='libs/holderjs/holder.js', type='text/javascript')
// END SCRIPTS