// START EMPLOYERS
section#workers
	header
		h1 У Київському міському Будинку природи працюють:
		.workers-portfolio
			.workers-portfolio-item
				figure
					img(src='img/ava.png' alt='Директор-Иванович')
				.overley
				.desc.child.both
					h4 Иванов Иван Иванович.
					| Директор
			.workers-portfolio-item
				.img
					img(src='img/ava.png' alt='Юміна-ровідний фахівець')
				.overley
				.desc.child.both
					h4 Юміна Ірина Володимирівна.
					| Провідний фахівець із зв`язків з громадськістю та пресою
// END EMPLOYERS
