// START EMPLOYERS
section#workers
	header
		h1 Наша команда:
	.workers
		.worker
			.img
				.overley
				.border
				img(src='holder.js/320x426/' alt='Иванов - Директор')
			.desc
				.relative
					.fullname
						h4 Иванов Иван Иванович.
					.position
						p Директор
		.worker
			.img
				.overley
				.border
				img(src='holder.js/320x426/' alt='Юміна - провідний фахівець')
			.desc
				.relative
					.fullname
						h4 Юміна Ірина Володимирівна.
					.position
						p Провідний фахівець із зв`язків з громадськістю та пресою
		.worker
			.img
				.overley
				.border
				img(src='holder.js/320x426/' alt='Иванов - Директор')
			.desc
				.relative
					.fullname
						h4 Иванов Иван Иванович.
					.position
						p Директор
		.worker
			.img
				.overley
				.border
				img(src='holder.js/320x426/' alt='Юміна - провідний фахівець')
			.desc
				.relative
					.fullname
						h4 Юміна Ірина Володимирівна.
					.position
						p Провідний фахівець із зв`язків з громадськістю та пресою
		.worker
			.img
				.overley
				.border
				img(src='holder.js/320x426/' alt='Иванов - Директор')
			.desc
				.relative
					.fullname
						h4 Иванов Иван Иванович.
					.position
						p Директор
		.worker
			.img
				.overley
				.border
				img(src='holder.js/320x426/' alt='Юміна - провідний фахівець')
			.desc
				.relative
					.fullname
						h4 Юміна Ірина Володимирівна.
					.position
						p Провідний фахівець із зв`язків з громадськістю та пресою
		.worker
			.img
				.overley
				.border
				img(src='holder.js/320x426/' alt='Иванов - Директор')
			.desc
				.relative
					.fullname
						h4 Иванов Иван Иванович.
					.position
						p Директор
		.worker
			.img
				.overley
				.border
				img(src='holder.js/320x426/' alt='Юміна - провідний фахівець')
			.desc
				.relative
					.fullname
						h4 Юміна Ірина Володимирівна.
					.position
						p Провідний фахівець із зв`язків з громадськістю та пресою

// END EMPLOYERS
