$font-cormorant: 'Cormorant', serif
$font-opensans: 'Open Sans', sans-serif
$font-roboto: 'Roboto Condensed', sans-serif;
$text-color: #fff

*, *:after, *:before
	box-sizing: border-box
  margin: 0
  padding: 0
  transition: .5s ease-in-out

html,body
	font-family: $font-roboto
	font-size: 20px
	font-style: 900
	line-height: 1.5
html
	overflow-x:hidden
h1
	font-size: 36px
h2
	font-size: 30px
h3
	font-size: 24px
h4
	font-size: 20px
h5
	font-size: 18px
h6
	font-size: 16px

h1, h2, h3, h4, h5, h6
	font-family: $font-roboto
	font-weight: bold
	margin: 10px 0

ul
	list-style: none

a
	text-decoration: none
	outline: none

img
	//display: block
	//width: 100%

body
	font-family: $font-roboto
	font-size: 18px
	color: #373737
	background: #f7f7f7

#mySidebar
	display: none
	width: 100%
	font-size: 40px
	padding-top: 10%

#btn-up
	position: relative
	bottom: 55px

#map1
	width: 100%
	height: 100%
	background-color: none

#gramoti
	background-color: grey

//////////////////////////////////
// Employer Portfolio START
/////////////////////////////////

.employer-portfolio ul,
.employer-portfolio li
	margin: 0px
	padding: 0px
	list-style-type: none

.employer-portfolio li
	position: relative
	display: inline-block
	width: 300px
	overflow: hidden
	box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.3)

.employer-portfolio-item
	position: relative;
	border: 1px solid blue;

.desc
	position: absolute
  top: 50%
  margin-top: -0.625em
  border: 1px solid red
	overflow: auto
	background-color: rgba(0,0,0,0.5)
	color: white
	text-align: centre
	opacity: 1
	border: 1px solid red;
	//transform: rotateY(90deg)
	//transition: all 0.5s	

.employer-portfolio-item img
	max-width: 100%
	width: 100%
	display: block
	float: left

.employer-portfolio li:hover .desc
	opacity: 1
	top: 0
	transform: rotateY(0deg)

.employer-img img
	max-width: 100%
	display: block

//////////////////////////////////
// Employer Portfolio END
/////////////////////////////////


.mySlides img
	max-height: 600px
	height: 600px
	display: block
	margin: 0 auto
	outline: 20px solid rgba(255,255,255,1)
	outline-offset: -20px

.overley
    position: absolute
    display: block
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(10,50,10,0.5)
    z-index: 0
    cursor: pointer

.content
	z-index: 0

.header-bg
	position: absolute
	left: 0
	top: 0
	right: 0
	bottom: 0
	min-height: 100vh
	height: 100%
	width: 100%
	background-image: url(./img/bg.jpg)
	background-repeat: no-repeat
	background-size: auto
	background-position: center

#myHeader
	position: relative
	left: 0px
	top: 0px
	right: 0px
	bottom: 0px
	background-image: url(../img/bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center

.logo
	max-height: 200px

.text-shadow
	text-shadow: 5px 5px 20px #000000