/* 	vars  */
@import "vars"

*
	box-sizing: border-box
	font-family: $font-yanone
	line-height: 1.6
	margin: 0
	padding: 0

ul
	list-style: none

a
	text-decoration: none
	outline: none
	color: $color-text-dark

a:visited
	color: $color-text-dark

body
	color: #373737
	background: transparent
html
	background: transparent

p
	font-weight: bold
	font-size: medium

section
	margin: 0px
	padding: 0px
//		top: 50px
//		bottom: 50px

/* 	Employer Portfolio START  */
@import "preloader"
@import "employers"
@import "sidebar"
@import "menu"
@import "header"
@import "history"
@import "gramoti"
@import "news"
@import "footer"
@import "copyright"

/* Animation */
@import "animated"

#btn-up
	position: relative
	bottom: 55px





